*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;   
}

#maior{
    background-color: rgb(19, 19, 85);
    width: 100%;
    height: 655px;
    display: flex;
}


#container-img{
    background-color: #FFE3B3;
    color: #6d6d6d ;
    width: 40%;
    height: 655px;
    text-align: center;
    padding-top:6% ;
} 
#container-img h2 {
    font-family: cursive; 
    letter-spacing: -.5px;
    margin-bottom: 8px;
} 
#container-img p {
    font-family: Arial, Helvetica, sans-serif; 
    letter-spacing: -.5px;
} 


#container-direita {
    background-color: #fff;
    width: 60%;
    height: 100px;
}

.home header{
    width: 100%;
    height: 100px;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    border: none; 
}

.home li {
    list-style: none;
    display: inline; /*aqui serve para deixar as "li" na horizontal.*/
    align-items: center; /*centralizar*/
}

.home li a {
    color: #FF9B23;
    align-items: center; /*centralizar*/
    font-size: 20px; 
    padding: 4px 30px;
    border-radius: 5px;
    display: inline-block; /* é possível "avizinhar" outros elementos e permitem redimensionamento de altura e largura.*/ /* sempre bom usar o "inline" no "li" e o "inline-block" no "li a" */
    text-decoration: none; /*tirar o underline da palavra*/
    transition: .6s; /*serve para da um efeito no hover (quando o mouse passar por cima da list*/
}

.home li a:hover{
    background-color:#FF9B23;
    color: #fff;
    border: none; 
}

/* li:nth-child(2) {          
  background-color: #FF9B23;
} */

.home ul li:last-child a{
    margin-left: 5px;
    float: right;
    background-color: #FF9B23;
    color: #fff;
    border: none;  
}

.home ul li:last-child a:hover{
    background-color: #fff;
    color: #FF9B23;
}

.direita-login{
    background-color: #fff;
    width: 100%;
    height: 555px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.direita-login form {
    margin-left: 23.5%;
}

.direita-login h1{
    color: #6d6d6d;
    font-weight: bold;   
}

.direita-login input{
    margin-top:  20px; /*espaço de um input para o outro*/ 
    border-radius: 5px;
}

.direita-login input{
    background-color: #e6e5e5;
    width: 412px; /*largura dos input*/
    height: 40px; /*altura do input*/
    padding: 10px; /*espaçamento de 10px de espaço para quando alguem for digitar dentro do input*/
}

.direita-login input[type="email"],
.direita-login input[type="password"]{
    border: none;
}

.direita-login input[type="button"]{
    background-color: #FF9B23;
    color: #fff;   
    transition: .6s;
    cursor: pointer;
    border: none;
}

.direita-login input[type="button"]:hover{
    background-color: #f0efef;
    color: #FF9B23;
    border: 1px solid #FF9B23; 
    transition: .6s;
    cursor: pointer;
}

.link {
    width: 100%;
    height: 100px;
    text-align: center; 
    border: none;
}

.link li {
    list-style: none;
    display: inline; /*aqui serve para deixar as "li" na horizontal.*/
    align-items: center; /*centralizar*/
}

.link  li a {
    /* background-color: #6d6d6d; */
    align-items: center; /*centralizar*/
    padding: 10px 70px;
    
    display: inline-block; /* é possível "avizinhar" outros elementos e permitem redimensionamento de altura e largura.*/ /* sempre bom usar o "inline" no "li" e o "inline-block" no "li a" */
    text-decoration: none; /*tirar o underline da palavra*/
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.link  li .facebook {
    background-color: #566495;
    border-radius: 5px;
    color: #fff;
}

.link  li .google {
    background-color: #0866FF;
    border-radius: 5px;
    color: #fff; 
}

span, span b {
    font: small;
    color: #6d6d6d;
    font-family: Arial, Helvetica, sans-serif;
}

